In [1]:
# Step 1. Import the necessary libraries
# Step 2. Import the dataset from this address
# Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

import pandas as pd
import numpy as np
import datetime as dt

In [50]:
data = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', sep='\s+', parse_dates=[[0,1,2]])
data

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978-12-30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [13]:
# Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

year = lambda x : 'yes' if x == 2061 else 'no'

data['Yr_Mo_Dy'].apply(year)

0       no
1       no
2       no
3       no
4       no
        ..
6569    no
6570    no
6571    no
6572    no
6573    no
Name: Yr_Mo_Dy, Length: 6574, dtype: object

In [54]:
# Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].astype('datetime64[ns]')
data.set_index('Yr_Mo_Dy',inplace = True)

In [16]:
# Step 6. Compute how many values are missing for each location over the entire record.
# They should be ignored in all calculations below.

data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [17]:
# Step 7. Compute how many non-missing values there are in total.

data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [22]:
# Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
# A single number for the entire dataset.

data.mean().mean()

10.227982360836938

In [27]:
# Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days
# A different set of numbers for each location.

loc_stats = pd.DataFrame()
loc_stats = data.agg(['min','max','mean','std'])
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794

In [33]:
# Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.
# A different set of numbers for each day.

def day(day_stats):
    agg1 = ['min','max','mean','std']
    for i in agg1:
        if i == 'min':
            day_stats[i] = data.min(axis=1)
        elif i == 'max':
            day_stats[i] = data.max(axis=1)
        elif i == 'mean':
            day_stats[i] = data.mean(axis=1)
        elif i == 'std':
            day_stats[i] = data.std(axis=1)
            
day_stats = pd.DataFrame()
day(day_stats)
day_stats

             min    max       mean       std
Yr_Mo_Dy
2061-01-01  9.29  18.50  13.018182  2.808875
2061-01-02  6.50  17.54  11.336364  3.188994
2061-01-03  6.17  18.50  11.641818  3.681912
2061-01-04  1.79  11.75   6.619167  3.198126
2061-01-05  6.17  13.33  10.630000  2.445356
...          ...    ...        ...       ...
1978-12-27  8.08  40.08  16.708333  7.868076
1978-12-28  5.00  41.46  15.150000  9.687857
1978-12-29  8.71  29.58  14.890000  5.756836
1978-12-30  9.13  28.79  15.367500  5.540437
1978-12-31  9.59  27.29  15.402500  5.702483

[6574 rows x 4 columns]

In [62]:
# Step 11. Find the average windspeed in January for each location.
# Treat January 1961 and January 1962 both as January.

data.loc[data.index.month==1].mean()

RPT        14.847325
VAL        12.914560
ROS        13.299624
KIL         7.199498
SHA        11.667734
BIR         8.054839
DUB        11.819355
CLA         9.512047
MUL         9.543208
CLO        10.053566
BEL        14.550520
MAL        18.028763
Year     2030.611111
Month       1.000000
dtype: float64

In [65]:
# Step 12. Downsample the record to a yearly frequency for each location.

data.groupby(data.index.to_period('A')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Year,Month
Yr_Mo_Dy,,,,,,,,,,,,,,
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716,1972.0,6.513661
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096,1973.0,6.526027
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671,1974.0,6.526027
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863,1975.0,6.526027
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448,1976.0,6.513661
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849,1977.0,6.526027
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370,1978.0,6.526027
2061,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773,2061.0,6.526027
2062,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956,2062.0,6.526027
2063,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014,2063.0,6.526027
2064,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301,2064.0,6.513661
2065,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644,2065.0,6.526027
2066,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260,2066.0,6.526027
2067,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945,2067.0,6.526027
2068,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486,2068.0,6.513661
2069,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904,2069.0,6.526027
2070,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027,2070.0,6.526027
2071,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233,2071.0,6.526027

In [66]:
# Step 13. Downsample the record to a monthly frequency for each location.

data.groupby(data.index.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Year,Month
Yr_Mo_Dy,,,,,,,,,,,,,,
1972-01,14.383871,11.848387,13.732258,5.925161,10.823226,7.291290,11.287097,6.733548,9.109355,8.728387,12.170645,17.598710,1972.0,1.0
1972-02,14.046207,10.814483,12.960000,6.347586,10.918621,7.245172,10.276552,7.311379,8.710345,8.854483,13.124483,17.257931,1972.0,2.0
1972-03,12.900000,10.505161,13.220323,6.949032,10.996452,6.949677,9.937742,7.025806,8.897742,7.835484,11.522581,15.282581,1972.0,3.0
1972-04,13.675333,10.638000,13.237667,7.232667,11.253667,7.036333,11.350667,9.060333,9.842333,8.569000,12.967667,14.812000,1972.0,4.0
1972-05,15.963226,12.636129,14.579355,7.974839,13.021290,7.560968,10.773226,10.083548,9.695806,10.083548,15.366452,16.471935,1972.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2071-08,9.783226,6.991935,10.227097,4.540968,8.978065,4.797742,7.450645,5.460645,6.866452,5.244194,10.087742,11.500968,2071.0,8.0
2071-09,8.365000,6.512667,7.704333,3.470667,7.676667,5.462667,6.003000,4.437333,5.385667,4.748667,9.232333,12.311333,2071.0,9.0
2071-10,12.926129,11.106452,12.467419,5.778065,11.305161,8.562903,10.073226,8.091935,9.121935,9.571290,15.617097,17.890645,2071.0,10.0
2071-11,13.334667,10.853667,12.223333,6.250667,10.895000,7.660000,11.062333,7.127667,9.714000,8.815000,15.145000,21.020333,2071.0,11.0
2071-12,13.162581,10.606774,13.367097,6.070000,10.393871,7.841613,12.131290,8.605161,9.708387,10.186129,16.759032,21.169355,2071.0,12.0

In [67]:
# Step 14. Downsample the record to a weekly frequency for each location.

data.groupby(data.index.to_period('W')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Year,Month
Yr_Mo_Dy,,,,,,,,,,,,,,
1971-12-27/1972-01-02,9.125000,2.545000,13.270000,4.375000,4.980000,2.625000,9.520000,3.000000,6.915000,4.665000,5.230000,13.500000,1972.0,1.000000
1972-01-03/1972-01-09,11.792857,7.761429,11.124286,4.212857,7.742857,5.500000,7.940000,4.924286,6.237143,6.247143,7.460000,13.962857,1972.0,1.000000
1972-01-10/1972-01-16,17.061429,14.494286,16.241429,7.025714,12.231429,8.808571,12.767143,8.017143,10.114286,10.811429,13.950000,18.792857,1972.0,1.000000
1972-01-17/1972-01-23,13.291429,13.375714,10.905714,5.304286,11.874286,8.457143,11.925714,7.724286,10.322857,9.744286,14.862857,19.944286,1972.0,1.000000
1972-01-24/1972-01-30,15.732857,12.928571,16.025714,7.304286,11.665714,6.702857,12.847143,6.250000,10.048571,9.054286,13.215714,18.212857,1972.0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2071-11-30/2071-12-06,9.432857,8.880000,7.755714,2.404286,7.097143,4.291429,7.250000,4.432857,5.480000,5.172857,12.898571,15.498571,2071.0,11.857143
2071-12-07/2071-12-13,9.471429,6.048571,8.330000,3.791429,7.065714,5.614286,10.671429,5.428571,7.917143,8.672857,14.325714,19.862857,2071.0,12.000000
2071-12-14/2071-12-20,21.120000,18.934286,17.741429,10.798571,16.771429,13.542857,15.677143,14.548571,14.622857,16.494286,26.552857,27.332857,2071.0,12.000000
2071-12-21/2071-12-27,12.938571,10.191429,12.685714,5.910000,10.054286,8.178571,12.125714,9.840000,10.032857,10.370000,18.341429,22.281429,2071.0,12.000000
2071-12-28/2072-01-03,13.397500,9.127500,24.280000,7.960000,11.657500,6.872500,16.270000,8.210000,10.667500,8.752500,8.372500,19.177500,2071.0,12.000000

In [85]:
# Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks

week = data.resample('W').agg(['min','max','mean','std'])
week.loc[week.index[1:53],'RPT':'MAL']

              RPT                                 VAL                    \
              min    max       mean        std    min    max       mean
Yr_Mo_Dy
1972-01-09   6.83  17.00  11.792857   3.557915   0.67  13.92   7.761429
1972-01-16   8.63  23.96  17.061429   6.596682   4.58  20.62  14.494286
1972-01-23   7.21  20.41  13.291429   5.470854   7.29  18.71  13.375714
1972-01-30  11.25  26.42  15.732857   6.172797   7.25  19.12  12.928571
1972-02-06   2.79  33.84  15.817143  10.514780   2.29  26.38  13.721429
1972-02-13   5.09  18.96  13.934286   4.676989   5.66  14.21  11.117143
1972-02-20   6.58  24.37  14.291429   6.460375   5.00  23.79  11.862857
1972-02-27   6.17  25.62  13.212857   6.737989   1.38  14.12   8.238571
1972-03-05   6.21  26.30  15.860000   6.314576   6.21  22.29  12.588571
1972-03-12   6.29  24.71  15.411429   6.920769   6.38  19.33  10.962857
1972-03-19   1.46  15.83   8.588571   4.335679   2.00  11.08   7.035714
1972-03-26   5.58  16.42   8.780000   4.481964   3.92  17.00   8.428571
1972-04-02  11.54  27.12  17.607143   5.379067  10.04  24.67  15.030000
1972-04-09  14.88  23.13  18.192857   2.616548  12.42  19.55  15.508571
1972-04-16   5.79  29.79  14.201429   9.336735   5.17  22.29  10.648571
1972-04-23   6.29  13.42   8.727143   2.300549   2.17  11.29   5.285714
1972-04-30   7.00  16.88  12.518571   3.213199   4.67  16.29   9.672857
1972-05-07   8.29  18.88  13.427143   3.834013   5.54  12.92   9.702857
1972-05-14  13.33  22.13  16.945714   4.051176  10.29  16.00  13.148571
1972-05-21   6.00  15.87  10.462857   3.782511   4.33  11.67   8.742857
1972-05-28  17.88  28.79  22.578571   3.657957  13.79  26.00  18.357143
1972-06-04   5.58  21.84  13.250000   6.244165   5.25  19.55  11.467143
1972-06-11   9.29  16.79  12.345714   3.306382   6.38  15.50  10.571429
1972-06-18   7.38  20.75  12.250000   4.843119   5.37  18.29  11.060000
1972-06-25  10.37  19.00  14.077143   3.051981   8.96  15.71  11.954286
1972-07-02   4.63  14.83   8.935714   3.588249   6.87  13.29   9.884286
1972-07-09   6.79  14.58  10.981429   3.177764   7.17  13.92  10.477143
1972-07-16   2.75  13.92   7.208571   4.099258   1.96  14.46   7.131429
1972-07-23   2.13  12.67   5.930000   4.304277   0.96   5.37   3.137143
1972-07-30   4.17  10.92   6.691429   2.426138   2.58  13.54   5.577143
1972-08-06  11.46  22.42  15.797143   4.481840   8.63  19.41  12.992857
1972-08-13   5.75  15.96  10.685714   4.389206   4.79  14.17   9.470000
1972-08-20   4.92  17.37   9.268571   4.057862   2.13  10.25   6.184286
1972-08-27   3.75  10.34   7.148571   2.020936   1.42   3.75   2.452857
1972-09-03   5.37   8.83   7.177143   1.400711   1.63   6.08   3.704286
1972-09-10   3.96  14.21   8.964286   3.626743   2.08  10.71   6.791429
1972-09-17   5.33  13.33   8.451429   2.742842   2.67  10.17   6.078571
1972-09-24   5.25  16.00   8.828571   3.970720   4.42  12.96   8.018571
1972-10-01   4.63  23.04  12.037143   6.318079   5.63  16.62  11.392857
1972-10-08   9.59  18.88  13.161429   3.686296   3.54  16.66  10.231429
1972-10-15   7.17  13.75  10.060000   2.380175   5.83  13.33   8.600000
1972-10-22   8.46  11.87   9.994286   1.555965   5.13  12.58   7.517143
1972-10-29   4.83  22.00  13.588571   5.677894   7.96  17.41  13.685714
1972-11-05   3.67  12.25   7.614286   3.294758   5.21  11.67   7.662857
1972-11-12   7.12  26.83  15.160000   7.503115   7.79  23.00  15.261429
1972-11-19   7.29  18.63  11.554286   4.834421   6.54  14.79  10.415714
1972-11-26   5.37  19.62  10.522857   5.032752   2.62  26.46  10.650000
1972-12-03   6.00  23.38  15.875714   5.733762  10.21  22.46  17.012857
1972-12-10  11.08  25.58  16.048571   5.387691  10.08  22.79  16.661429
1972-12-17  14.88  25.96  19.954286   4.075483  14.17  25.17  20.430000
1972-12-24   1.79  15.00   9.088571   4.375574   2.21  16.62  11.432857
1972-12-31   8.04  30.42  17.992857   7.965977   7.83  23.54  14.958571

                        ROS         ...        CLO              BEL         \
                 std    min    max  ...       mean       std    min    max
Yr_Mo_Dy                            ...
1972-01-09  5.198956   5.41  19.12  ...   6.247143  5.950223   2.21  14.67
1972-01-16  5.885858   9.29  20.17  ...  10.811429  3.932173   4.50  18.08
1972-01-23  4.094089   6.38  18.46  ...   9.744286  3.324750  10.83  22.29
1972-01-30  4.349940  10.34  23.29  ...   9.054286  4.907161   7.25  19.25
1972-02-06  8.639555   3.21  28.16  ...  10.208571  6.796010   2.08  24.21
1972-02-13  3.214341   7.08  15.00  ...   8.221429  3.642890   5.09  17.88
1972-02-20  6.478749   6.21  22.00  ...   9.581429  6.014958   5.00  32.08
1972-02-27  4.717020   7.62  17.54  ...   7.421429  4.983558   2.33  16.66
1972-03-05  5.352026   6.67  19.04  ...  10.297143  5.310373   7.83  23.33
1972-03-12  4.634148   6.58  32.75  ...   8.827143  3.342034   5.17  17.79
1972-03-19  3.602434   2.92  15.67  ...   5.372857  2.693787   2.79  11.42
1972-03-26  5.568936   4.79  11.79  ...   5.638571  3.312967   2.96  23.04
1972-04-02  4.876043  11.00  17.29  ...  10.891429  4.175605   6.92  28.88
1972-04-09  2.492706  11.29  17.16  ...  10.975714  2.466272  11.12  23.67
1972-04-16  7.115393   4.08  20.08  ...   8.528571  6.165567   6.25  25.50
1972-04-23  3.365605   4.83  23.16  ...   5.340000  2.358714   4.63  13.59
1972-04-30  3.970788   8.54  22.08  ...   8.267143  3.704078   5.50  19.08
1972-05-07  3.064070   5.63  20.30  ...   6.265714  2.873829   6.21  12.87
1972-05-14  2.025738   8.79  25.62  ...  10.491429  3.268886  14.00  17.71
1972-05-21  2.650608   6.92  15.92  ...   7.041429  4.200541   6.71  15.00
1972-05-28  4.573641  12.29  23.63  ...  14.892857  2.288265  17.33  28.12
1972-06-04  5.364571   4.75  17.83  ...  11.048571  4.807641  10.13  26.38
1972-06-11  3.341778   6.58  11.38  ...   7.414286  3.793384   7.21  16.71
1972-06-18  4.458946   3.63  18.46  ...   7.940000  4.000417   7.17  23.42
1972-06-25  2.569493   8.75  15.59  ...  11.464286  2.429745  14.79  22.46
1972-07-02  2.212283   7.04  13.21  ...   7.138571  2.426805   9.17  21.84
1972-07-09  2.428324   5.71  16.58  ...   5.445714  1.590868   6.87  15.71
1972-07-16  4.304600   4.50  15.00  ...   4.662857  3.798104   4.50  18.58
1972-07-23  1.641653   5.00  19.04  ...   2.434286  1.474979   3.33  12.87
1972-07-30  3.729623   3.88   9.87  ...   2.522857  1.481663   5.25  14.83
1972-08-06  3.555333   8.25  17.37  ...   8.180000  2.446944  12.42  17.25
1972-08-13  3.260189   4.50  14.12  ...   7.137143  3.530424   5.00  21.37
1972-08-20  2.475102   5.63  12.71  ...   5.952857  2.842790   6.29  18.91
1972-08-27  0.745111   4.67  17.83  ...   3.268571  1.054473   3.17   8.17
1972-09-03  1.716225   8.12  19.50  ...   3.150000  1.631880   3.21  11.46
1972-09-10  2.817643   5.09  19.62  ...   4.405714  2.621468   5.09  13.17
1972-09-17  2.855331   5.37  13.62  ...   3.494286  3.073363   3.79  12.67
1972-09-24  3.511963   6.17  13.33  ...   3.434286  2.327351   2.83  14.42
1972-10-01  3.696556   3.42  15.63  ...   6.525714  4.932893   4.71  24.54
1972-10-08  5.070310   5.75  15.92  ...   5.667143  4.302405   3.17  14.96
1972-10-15  2.710129  10.83  16.17  ...   4.695714  2.154746   3.88  18.71
1972-10-22  2.423068  10.67  16.25  ...   5.488571  4.249845   5.09  20.25
1972-10-29  3.308458   6.46  21.42  ...  10.415714  4.304660  11.71  25.17
1972-11-05  2.111632   4.42  12.96  ...   5.205714  3.013104   7.33  18.41
1972-11-12  6.263884   5.71  21.84  ...   9.367143  4.077760  10.83  26.75
1972-11-19  3.211977   5.71  15.75  ...   4.475714  2.265884   6.87  11.38
1972-11-26  8.454971   5.96  14.37  ...   6.022857  2.604865   4.29  16.71
1972-12-03  3.585000   4.75  19.75  ...  10.571429  5.009625   8.08  27.58
1972-12-10  4.481054   7.21  22.08  ...   9.518571  4.326775   4.75  27.50
1972-12-17  4.164089  15.21  20.62  ...  13.210000  2.494654  15.29  29.08
1972-12-24  4.895677   3.96  14.33  ...   5.910000  2.948474   6.17  25.46
1972-12-31  5.348587   9.25  23.33  ...  11.320000  5.046537  12.42  27.46

                                   MAL
                 mean       std    min    max       mean       std
Yr_Mo_Dy
1972-01-09   7.460000  4.518200   5.88  28.33  13.962857  9.146709
1972-01-16  13.950000  4.780805   8.92  23.09  18.792857  4.906675
1972-01-23  14.862857  4.297331  14.75  23.00  19.944286  3.197868
1972-01-30  13.215714  4.604186  10.83  33.25  18.212857  7.499233
1972-02-06  14.571429  8.352082   6.71  33.63  21.477143  9.270368
1972-02-13  13.972857  4.512999   9.71  20.58  16.388571  3.904350
1972-02-20  14.351429  8.746480  10.58  37.04  18.078571  9.402162
1972-02-27   9.214286  5.139419   5.09  22.83  13.524286  6.413769
1972-03-05  15.697143  5.548476  11.25  27.54  18.837143  5.678558
1972-03-12  10.948571  4.716600   9.21  28.79  16.708571  6.465703
1972-03-19   8.030000  3.416036   6.54  15.00  10.750000  3.115713
1972-03-26  10.464286  6.456136   5.88  21.34  13.935714  5.275989
1972-04-02  16.488571  7.065488  11.25  27.37  18.091429  5.260366
1972-04-09  17.410000  4.478720   8.12  23.91  18.130000  5.633631
1972-04-16  13.214286  6.854441   7.50  26.54  16.162857  6.754758
1972-04-23   7.531429  3.179777   7.46  13.04   9.892857  1.915966
1972-04-30  11.998571  5.190624   6.38  22.79  13.847143  6.346082
1972-05-07  10.267143  2.536143   7.79  13.04   9.947143  1.990709
1972-05-14  16.290000  1.469524  11.17  21.87  17.865714  3.749484
1972-05-21  10.245714  3.090690   8.12  18.16  13.320000  3.856073
1972-05-28  23.170000  4.813481  14.67  29.50  22.737143  4.452107
1972-06-04  17.768571  5.661420  11.87  28.04  18.202857  6.484087
1972-06-11  11.184286  3.677100   7.50  20.54  12.185714  4.433147
1972-06-18  13.067143  5.591579   9.71  22.54  13.748571  5.294272
1972-06-25  18.341429  2.991435  14.50  25.17  19.071429  4.535425
1972-07-02  14.244286  4.385529   9.00  17.79  12.705714  3.483929
1972-07-09  12.065714  2.679278   7.50  16.66  12.464286  3.635477
1972-07-16  10.492857  4.773122   4.08  22.37  10.607143  7.076055
1972-07-23   8.962857  3.482273   2.50   8.67   5.227143  2.317036
1972-07-30   9.682857  3.548975   4.21  10.34   7.150000  2.237744
1972-08-06  14.705714  1.963176  10.46  19.29  15.165714  3.317071
1972-08-13  11.577143  5.070482   5.91  18.75  13.581429  4.319380
1972-08-20  10.880000  4.414661  10.50  20.71  14.684286  4.271588
1972-08-27   5.215714  1.923485   6.75  14.58   9.618571  2.603065
1972-09-03   5.685714  2.887784   3.83  11.38   8.152857  2.929583
1972-09-10   9.798571  2.976477   4.04  18.38  11.775714  4.899292
1972-09-17   8.188571  3.682786   2.83  16.08   9.214286  5.936657
1972-09-24   7.904286  3.904804   5.25  15.12  10.511429  3.606279
1972-10-01  13.332857  7.526521   5.83  20.38  13.518571  6.367847
1972-10-08   8.977143  4.519287   3.75  17.75  11.220000  4.502174
1972-10-15  10.318571  4.662737   3.33  17.88   9.702857  4.877693
1972-10-22  10.098571  5.266192   7.38  28.21  15.148571  7.544447
1972-10-29  17.821429  4.764810  12.25  25.75  20.027143  4.720670
1972-11-05  12.071429  4.512300   6.71  19.55  13.900000  5.146944
1972-11-12  18.135714  5.892566  14.46  33.21  22.601429  7.249325
1972-11-19   8.872857  1.914138  12.92  18.96  15.334286  2.396830
1972-11-26  11.642857  3.957759   8.46  22.88  16.371429  5.461240
1972-12-03  18.095714  6.167387   9.59  26.20  20.541429  6.107701
1972-12-10  15.428571  6.988718   6.92  29.83  18.750000  7.325167
1972-12-17  22.655714  4.730570  19.87  26.54  23.557143  3.097072
1972-12-24  15.591429  6.037285   9.59  25.50  17.332857  4.904453
1972-12-31  17.802857  5.223392  14.50  31.25  19.250000  6.402338

[52 rows x 48 columns]