In [1]:
# Step 1. Import the necessary libraries
# Step 2. Import the dataset from this address.
# Step 3. Assign it to a variable called chipo.

import pandas as pd

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')

In [3]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
# Step 4. See the first 10 entries

chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
# Step 5. What is the number of observations in the dataset?

len(chipo)

4622

In [6]:
# Step 6. What is the number of columns in the dataset?

len(chipo.columns)

5

In [7]:
# Step 7. Print the name of all the columns.

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
# Step 8. How is the dataset indexed?

chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [29]:
# Step 9. Which was the most-ordered item?

chipo.groupby(['item_name']).quantity.sum().sort_values().index[-1]

'Chicken Bowl'

In [35]:
# Step 10. For the most-ordered item, how many items were ordered?

chipo.groupby('item_name').sum().sort_values(['quantity'],ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [36]:
# Step 11. What was the most ordered item in the choice_description column?

chipo.groupby(['choice_description']).quantity.sum().sort_values().index[-1]

'[Diet Coke]'

In [37]:
# Step 12. How many items were orderd in total?

chipo.quantity.sum()

4972

In [50]:
# Step 13. Turn the item price into a float
# Step 13.a. Check the item price type

chipo['item_price'].dtypes

dtype('O')

In [55]:
# Step 13.b. Create a lambda function and change the type of item price

chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x[1:]))

In [56]:
# Step 13.c. Check the item price typ

chipo.item_price.dtypes

dtype('float64')

In [59]:
# Step 14. How much was the revenue for the period in the dataset?

chipo['revenue'] = chipo.item_price * chipo.quantity
total_revenue = chipo.revenue.sum()
total_revenue

39237.02

In [64]:
# Step 15. How many orders were made in the period?

chipo.order_id.value_counts().count()

1834

In [68]:
# Step 16. What is the average revenue amount per order?

a = chipo.order_id.value_counts().count()
average = (chipo.revenue.sum())/a
average

21.39423118865867

In [62]:
# Step 17. How many different items are sold?

chipo.item_name.nunique()

50